HelloWorldServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HelloWorldServer/bin/Debug/netcoreapp2.1/HelloWorldServer.dll
HelloWorldServer/bin/Debug/netcoreapp2.1/HelloWorldServer.pdb
HelloWorldServer/bin/Debug/netcoreapp2.1/HelloWorldServer.deps.json
HelloWorldServer/bin/Debug/netcoreapp2.1/HelloWorldServer.runtimeconfig.json
HelloWorldServer/bin/Debug/netcoreapp2.1/HelloWorldServer.runtimeconfig.dev.json
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/HelloWorldServer.dll
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/HelloWorldServer.pdb
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/HelloWorldServer.deps.json
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/HelloWorldServer.runtimeconfig.json
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/appsettings.json
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/appsettings.Development.json
HelloWorldServer/bin/Debug/netcoreapp2.1/publish/web.config
HelloWorldServer/obj/HelloWorldServer.csproj.nuget.cache
HelloWorldServer/obj/HelloWorldServer.csproj.nuget.g.props
HelloWorldServer/obj/HelloWorldServer.csproj.nuget.g.targets
HelloWorldServer/obj/project.assets.json
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.dll
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.pdb
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.AssemblyInfo.cs
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.AssemblyInfoInputs.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.RazorAssemblyInfo.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.RazorAssemblyInfo.cs
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.RazorTargetAssemblyInfo.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.assets.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.csproj.CoreCompileInputs.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.csproj.FileListAbsolute.txt
HelloWorldServer/obj/Debug/netcoreapp2.1/HelloWorldServer.csprojAssemblyReference.cache
HelloWorldServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HelloWorldServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HelloWorldServer/obj/Debug/netcoreapp2.1/project.razor.json
